@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h1>Roles</h1>


@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto"
       asp-controller="Admin" asp-action="CreateRole">
        Add new Role
    </a>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> S/N </th>
                        <th>Role Name</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            
                            
                            <td><a asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a></td>
                            <td><a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <div class="card">
        <div class="card-header">
            No Role created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button to create ROle
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Admin" asp-action="CreateRole">
                Add new Role
            </a>
        </div>
    </div>



}